.button_type_edit {
  box-sizing: border-box;
  cursor: pointer;
  border: 1px white solid;
  width: 24px;
  height: 24px;
  display: block;
  align-self: center;
  background: url(../../../images/button_edit.svg) no-repeat center;
  background-size: 10px 10px;
}

.button_type_edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .button_type_edit {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 650px) {
  .button_type_edit {
    width: 18px;
    height: 18px;
  }
}
